@{
    ViewData["Title"] = "Zapomniałeś hasła";
}

<h2>Resetuj hasło</h2>

<form method="post" asp-action="ForgotPassword">
    <div class="form-group">
        <label for="email">Podaj swój adres e-mail:</label>
        <input type="email" name="email" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Wyślij link resetujący</button>
</form>
