@{
    ViewData["Title"] = "Sukces!";
}

<h2>Hasło zostało zmienione</h2>
<p>Możesz się teraz zalogować przy użyciu nowego hasła.</p>
<a href="@Url.Action("Login", "Account")" class="btn btn-primary">Zaloguj się</a>
