@{
    ViewData["Title"] = "Panel Administratora";
}

<h2>Panel Administratora</h2>

<div class="list-group">
    <a href="@Url.Action("PendingApproval", "Alcohol")" class="list-group-item list-group-item-action">Alkohole oczekujące na zatwierdzenie</a>
    <a href="@Url.Action("ManageUsers", "Admin")" class="list-group-item list-group-item-action">Zarządzaj Użytkownikami</a>
</div>
